@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right, #00bf8f, #001510);
    background-repeat: no-repeat;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
}

::selection {
    background-color: #dddddd
}

#title {
    text-align: center;
    font-size: 6rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: .3rem;
    font-weight: 100;
    color: #fff;
    padding-top: 5rem;
    margin-bottom: 10rem;
    text-transform: uppercase;
    position: relative;


}

#title::after {
    position: absolute;
    width: 15rem;
    height: .2rem;
    content: ' ';
    left: 50%;
    right: 0;
    background-color: #fff;
    top: 109%;
    transform: translate(-50%);

}


svg {
    background-color: #ddd;
    border-radius: 1rem;
}


.graph {
    display: block;
    margin: auto;
}

.dot {
    opacity: 1;
}

.axis {
    fill: none;
    stroke: #3a3a3a;
}

.axis text {
    fill: #000;
    stroke: none;
}



.tooltip {
    position: absolute;
    font-size: 1.3rem ;
    background: #00bf8f;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: .9;
    padding: 2rem 3rem;
    z-index: 5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    color: #fff;
}

.tooltip.show {
    display: block;
  }
  
  .tooltip p {
    margin: .5rem;
    font-size: 1.5rem;
  }
  
  .tooltip small {
    display: inline-block;
    margin-top: 1rem;
  }

.legend {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-130%, 100%);
}

.legend p {
    font-size: 1.2rem;
}

.orange {
    margin-bottom: 1rem;
}

.orange,
.blue {
    display: flex;
}

.orange-box {
    background-color: #d35400;
    height: 15px;
    width: 15px;
    margin-left: 1rem;
}

.blue-box {
    background-color: #3498db;
    height: 15px;
    width: 15px;
    margin-left: 2.85rem;
}

circle:hover {
    cursor: pointer;

}

circle {
    box-shadow: .9rem .9rem 10rem rgba(0, 0, 0, 1);
    stroke: black;
    stroke-width: .2rem;
    stroke-linecap: round;
   
}